<div class="container-xl">
  <div class="row">
    <div class="col-md-12">
      <h2>Наші <b>Товари</b></h2>
      <div
        id="myCarousel"
        class="carousel slide"
        data-ride="carousel"
        data-interval="0"
      >
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
          <div class="item carousel-item active">
            <div class="row">
              <div
                class="col-sm-3"
                *ngFor="
                  let item of deviceList
                    | paginate : { itemsPerPage: 4, currentPage: page }
                "
              >
                <div class="thumb-wrapper">
                  <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                  <div class="img-box">
                    <img src="{{ item.image }}" class="img-fluid" alt="" />
                  </div>
                  <div class="thumb-content">
                    <h4>{{ item.name }}</h4>
                    <p class="item-price">
                      <b>{{ item.type }}</b>
                    </p>
                    <p class="item-price">
                      <b>{{ item.price }} грн</b>
                    </p>
                    <a class="btn btn-primary" (click)="onCart(item)"
                      >Додати до корзини</a
                    >
                  </div>
                  <div class="thumb-content">
                    <a
                      class="btn btn-primary"
                      data-toggle="modal"
                      data-target="#editModalCenter"
                      (click)="onEdit(item)"
                      >Редагувати</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-12 pt-4">
            <pagination-controls
              (pageChange)="page = $event"
              class="float-right"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
