.main {
  height: 1000px;
  color: #f3eaea;
  background-image: url("../../../assets/wallpaperflare.com_wallpaper.png");
  padding-top: 120px;
  padding-left: 5%;
  padding-right: 5%;
  .main_title {
    text-align: center;
    padding-top: 300px;
    h1 {
      text-transform: uppercase;
      font-size: 50px;
      text-shadow: 2px 5px #4b4646;
    }
    h6 {
      font-size: 20px;
    }
  }
}
