/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Inter", sans-serif;
}
html {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
